<app-header></app-header>
<ion-content>
  <ul>
    <li *ngFor="let item of dataMovieNowPlaying">
      <a href="#">
        <img [src]="baseImageUrl + '/w500' + item.backdrop_path" alt="" />
        <div class="content">
          <img [src]="baseImageUrl + '/w500' + item.backdrop_path" alt="" />
          <div class="group">
            <h3>{{item.original_title}}</h3>
            <div>
              <!-- <h2>{{item.overview}}</h2> -->
              <p>●</p>
              <span>{{item.vote_average}} lượt xem</span>
              <p>●</p>
              <span>31 phút trước</span>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</ion-content>
